*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    

}

body 
{
    background-color: rgba(0, 174, 255, 0.781);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    
}
#veri{
    font-size: 1.8em;
}
select{
    width: 150px;
}
#vetor{
    margin: 15px;
    transform: translate(-147%,5%);
}
.vet{
    transform: translate(-406%, 80%);
}


section{

    width: 645px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin: auto;
    font-size: 1.0em;
    padding: 25px;
}



.imagem{
    
    padding: 10px;
    text-align: left;
    
}
.flu{
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}